<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Classe</title>
    <link rel="stylesheet" href="/static/general.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new_class">Add Classe</a></li>
                <!-- Add other links as needed -->
            </ul>
        </nav>
    </header>
    <main>
        <h1>Add a New Classe</h1>
        <form action="/add_class" method="post" class="add_class">
            <label for="class_name">Class Name:</label>
            <input type="text" id="class_name" name="class_name" required>
            <label for="1;1">Lundi P1</label>
            <select name="1;1" id="1;1">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="1;2">Lundi P2</label>
            <select name="1;2" id="1;2">

                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="1;3">Lundi P3</label>
            <select name="1;3" id="1;3">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="1;4">Lundi P4</label>
            <select name="1;4" id="1;4">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="1;5">Lundi P5</label>
            <select name="1;5" id="1;5">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="1;6">Lundi P6</label>
            <select name="1;6" id="1;6">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="1;7">Lundi P7</label>
            <select name="1;7" id="1;7">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="1;8">Lundi P8</label>
            <select name="1;8" id="1;8">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="1;9">Lundi P9</label>
            <select name="1;9" id="1;9">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="1;10">Lundi P10</label>
            <select name="1;10" id="1;10">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="2;1">Mardi P1</label>
            <select name="2;1" id="2;1">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="2;2">Mardi P2</label>
            <select name="2;2" id="2;2">

                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="2;3">Mardi P3</label>
            <select name="2;3" id="2;3">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>
            <label for="2;4">Mardi P4</label>
            <select name="2;4" id="2;4">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>

            <label for="2;5">Mardi P5</label>
            <select name="2;5" id="2;5">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>

            <label for="2;6">Mardi P6</label>
            <select name="2;6" id="2;6">
                <option value="">Congé</option>
                <option value="HistoireAll"> Histoire en Allemand</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS</option>
                <option value="OC">OC</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
            </select>

            <!-- Day 2 (Mardi) from P7 to P10 -->
<label for="2;7">Mardi P7</label>
<select name="2;7" id="2;7">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="2;8">Mardi P8</label>
<select name="2;8" id="2;8">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="2;9">Mardi P9</label>
<select name="2;9" id="2;9">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="2;10">Mardi P10</label>
<select name="2;10" id="2;10">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<!-- Day 3 (Mercredi) from P1 to P10 -->
<label for="3;1">Mercredi P1</label>
<select name="3;1" id="3;1">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="3;2">Mercredi P2</label>
<select name="3;2" id="3;2">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="3;3">Mercredi P3</label>
<select name="3;3" id="3;3">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="3;4">Mercredi P4</label>
<select name="3;4" id="3;4">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="3;5">Mercredi P5</label>
<select name="3;5" id="3;5">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="3;6">Mercredi P6</label>
<select name="3;6" id="3;6">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="3;7">Mercredi P7</label>
<select name="3;7" id="3;7">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="3;8">Mercredi P8</label>
<select name="3;8" id="3;8">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="3;9">Mercredi P9</label>
<select name="3;9" id="3;9">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="3;10">Mercredi P10</label>
<select name="3;10" id="3;10">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<!-- Day 4 (Jeudi) from P1 to P10 -->
<label for="4;1">Jeudi P1</label>
<select name="4;1" id="4;1">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="4;2">Jeudi P2</label>
<select name="4;2" id="4;2">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="4;3">Jeudi P3</label>
<select name="4;3" id="4;3">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="4;4">Jeudi P4</label>
<select name="4;4" id="4;4">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="4;5">Jeudi P5</label>
<select name="4;5" id="4;5">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="4;6">Jeudi P6</label>
<select name="4;6" id="4;6">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="4;7">Jeudi P7</label>
<select name="4;7" id="4;7">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="4;8">Jeudi P8</label>
<select name="4;8" id="4;8">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="4;9">Jeudi P9</label>
<select name="4;9" id="4;9">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="4;10">Jeudi P10</label>
<select name="4;10" id="4;10">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<!-- Day 5 (Vendredi) from P1 to P10 -->
<label for="5;1">Vendredi P1</label>
<select name="5;1" id="5;1">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="5;2">Vendredi P2</label>
<select name="5;2" id="5;2">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="5;3">Vendredi P3</label>
<select name="5;3" id="5;3">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="5;4">Vendredi P4</label>
<select name="5;4" id="5;4">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="5;5">Vendredi P5</label>
<select name="5;5" id="5;5">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="5;6">Vendredi P6</label>
<select name="5;6" id="5;6">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="5;7">Vendredi P7</label>
<select name="5;7" id="5;7">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="5;8">Vendredi P8</label>
<select name="5;8" id="5;8">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="5;9">Vendredi P9</label>
<select name="5;9" id="5;9">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>

<label for="5;10">Vendredi P10</label>
<select name="5;10" id="5;10">
    <option value="">Congé</option>
    <option value="HistoireAll"> Histoire en Allemand</option>
    <option value="Allemand">Allemand</option>
    <option value="Anglais">Anglais</option>
    <option value="OS">OS</option>
    <option value="OC">OC</option>
    <option value="Maths">Maths</option>
    <option value="Français">Français</option>
    <option value="Géographie">Géographie</option>
    <option value="Philosophie">Philosophie</option>
    <option value="Histoire">Histoire</option>
    <option value="Sport">Sport</option>
    <option value="Biologie">Biologie</option>
</select>
            <button type="submit">Add Classe</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <b>{{ messages[0] }}</b><br>
        {% endif %}
        {% endwith %}

    </main>
    <footer>
        <p>&copy; 2023 Mon Site Raspberry</p>
    </footer>
</body>

</html>