<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Classe</title>
  <link rel="stylesheet" href="/static/general.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('search_class')}}">Add Classe</a></li>
        <!-- Add other links as needed -->
      </ul>
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <b>{{ messages[0] }}</b><br>
    {% endif %}
    {% endwith %}
    <h1>Add a New Classe</h1>
    <form action="/add_class" method="post" class="add_class">
      <label for="class_name">Classe: {{ class_name}}</label>
      <input type="hidden" id="class_name" name="class_name" value="{{ class_name }}">
      <div class="select-periode">
        {%for jour in range(1, 6)%}
        {% for periode in range (1,11) %}
        {% set semaine = ["Lundi","Mardi","Mercredi","Jeudi","Vendredi"]%}
        {% set options = [
          "Congée",
          "Pause",
          "Allemand",
          "Anglais",
          "TP",
          "OS",
          "OC",
          "Maths",
          "Français",
          "Géographie",
          "Philosophie",
          "HistoireFr",
          "HistoireAll",
          "Sport",
          "Biologie"
        ] %}
        {% set selected_option = classe[jour-1][periode-1] %}
        {% set id = jour ~';'~ periode %}
        <label for="{{id }}">{{ semaine[jour-1] }} P{{ periode }}</label>
        <select name="{{id}}" id="{{id}}">
          {% for option in options %}
          <option value="{% if option =='Congée' %}{% else %}{{option}}{% endif %}" {% if option ==  selected_option %} selected {% endif %}>
            {{ option }}
          </option>
          {% endfor %}
        </select>
        {% endfor %}
        {% endfor %}
      </div>
      <button type="submit">Add Classe</button>
    </form>
  </main>
  <footer>
    <p>&copy; 2023 Mon Site Raspberry</p>
  </footer>
</body>

</html>