<!DOCTYPE html>
<html>

<head> <!-- Infos de la page et métadonnées -->
  <meta charset="utf-8" />
  <title>Devoirs | Agenda {{session['classe']}}</title> <!-- Sera affiché dans l'onglet du navigateur-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='general.css') }}" />

  <link rel="icon" href="{{url_for('static', filename ='/Images/Suisse-drapeau.svg')}}" type="img/sbg">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body> <!-- Contenu de la page -->
  <nav id="main-nav"><!-- Navigateur Gauche-->
    <div class="nav-container">
      <a class="a-nav " href="{{url_for('index')}}"><img
          src="{{url_for('static', filename = '/Images/Accueil-Logo.png')}}" draggable="false"></a>

      <a class="a-nav" href="{{url_for('devoirs')}}"><img
          src="{{url_for('static', filename = '/Images/Logo-devoir.png')}}" draggable="false"></a>

      <a class="a-nav" href="{{url_for('test')}}"><img src="{{url_for('static', filename = '/Images/Test-Logo.png')}}"
          draggable="false"></a>
      <a class="a-nav" href="{{url_for('event')}}"><img focusable="false"
          src="{{url_for('static', filename = '/Images/Calendrier-Logo.png')}}" draggable="false">
    </div>

    <div class="nav-container">
      <!-- Lien collé en bas-->
      <a class="a-nav" href="{{url_for('parametres')}}"><img
          src="{{url_for('static', filename = '/Images/Parametre-Logo.png')}}" draggable="false"></a>

      <a class="a-nav " href="{{url_for('account')}}"><img
          src="{{url_for('static', filename = '/Images/Profil-Logo.png')}}" draggable="false"> </a>

    </div>
  </nav>


  <header>
    <div class="header-left">
      <h1><a class="header" href="{{url_for('devoirs')}}">Devoirs</a></h1>
    </div>
    <div class="header-right">
      <a href="{{url_for('test')}}"><button class="test">
          Test
        </button></a>

      <a href="{{url_for('event')}}">
        <button class="event">
          Événement
        </button></a>

      <a href="{{url_for('devoirs')}}"><button class="devoir">
          Devoirs
        </button></a>

      <a href="{{url_for('parametres')}}">
        <img
          src="{{url_for('static', filename = '/Images/Parametre-Logo.png')}}" /></a>
    </div>
  </header>


  <main>
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {{ messages[0] }}
      {% endif %}
      {% endwith %}
    </div><br>

    <div class="main">
      <div class="box plan devoir ">
        <h2>Devoirs: </h2>
        <div class="sec-part">
          {% if session["nom"] == "ADMIN" %}
          <form action="{{url_for('delete_all_devoirs')}}" method="POST"><button class="masquer" type="submit">Tout
              Supprimer</button>
          </form>
          {%endif%}

          {% if not devoirs %}
          <p>Aucun devoir pour le moment.</p>

          {% else %}
          <div class="T-line">
            <div class="T-date">Date</div>
            <div class="branche">Branche</div>
            <div class="nom">Nom</div>
            <div class="heure">Heure</div>
          </div>
          {% for devoir in devoirs %}

          <a href="{{url_for('devoir_print', classe = devoir['classe'], nom = devoir['nom'])}}">
            <div class="line">
              <div class="date">
                <div class="jour">{{devoir['jour']}}</div>
                <div>{{devoir['date']}}</div>
              </div>

              <div class="element devoir-element">
                <div class="branche">
                  {{devoir['branche']}}
                </div>
                <div class="nom">
                  {%if (devoir['nom'] | length) <= 8 %} {{ devoir['nom']}} {%else%} {{devoir['nom'][:7] + '...' }}
                    {%endif%} </div>
                    <div class="heure">
                      {{devoir['heure']}}</div>

                    <div class="box-masquer">

                      <form action="{{url_for('hide_devoir')}}" method="post">
                        <input type="hidden" value="{{devoir['id']}}" name="id">
                        <input type="hidden" name="redirect" value="{{url_for('devoirs')}}">
                        <button class="masquer" type="submit">Masquer</button>
                      </form>
                      {% if session["nom"] == "ADMIN" %}
                      <form action="{{url_for('delete_devoir')}}" method="post">
                        <input type="hidden" value="{{devoir['id']}}" name="id">
                        <input type="hidden" name="redirect" value="{{url_for('devoirs')}}">
                        <button class="masquer" type="submit">Supprimer</button>
                      </form>
                      {%endif%}
                    </div>
                </div>
              </div>
          </a>
          {% endfor %}
          {% endif %}
        </div>
      </div>


      <div class="box ADD devoir-50">
        <form class="add" action="{{url_for('create_devoir')}}" method="POST">
          <h2 class="T-input">
            <input id="Titre" type="text" class="input-titel border-bottom-devoir" placeholder="Ajouter un Devoir"
              name="nom" required>
          </h2>

          <div class="sec-part ADD">

            <div class="add-box-line">
              <img src="{{url_for('static', filename = '/Images//Logo-menu.svg')}}" class="icon-in-box-add"
                draggable="false">

              <select class="input-ADD" name="branche" required>
                <option value="">Ajouter la branche</option>
                <option value="Allemand">Allemand</option>
                <option value="Anglais">Anglais</option>
                <option value="OS">OS {{ session["o_s"] }}</option>
                <option value="OC">OC {{ session["o_c"] }}</option>
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Géographie">Géographie</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Sport">Sport</option>
                <option value="Biologie">Biologie</option>
              </select>

            </div>


            <div class="add-box-line">
              <img class="icon-in-box-add" src="{{url_for('static', filename = '/Images/Logo-Pendule.svg')}}"
                draggable="false">

              <div class="input-in-box-add">
                <input class="input-ADD" type="date" value="{{today}}" name="date" required>
                <input class="input-ADD" type="time" value="08:20" name="heure">
              </div>
            </div>


            <div class="add-box-line">
              <img class="icon-in-box-add" src="{{url_for('static', filename = '/Images/Logo-Description.svg')}}"
                draggable="false">
              <textarea class="input-ADD" rows="6" placeholder="Ajouter des Infos Supplémentaire"
                name="description"></textarea>
            </div>


            <div class="add-box-line last-line">

              <div class="input-submit"><input class="ajouter" type="submit" value="Ajouter">
              </div>
            </div>





          </div>
        </form>
      </div>
    </div>
  </main>

  <footer class="simple-footer">
    <div class="footer-content">
      <p>&copy; 2025 Jérémie Corbaz. Tous droits réservés.</p>
      <ul>
        <li><strong>Étudiant :</strong> Gymnase de Burier, Suisse</li>
        <li><strong>E-mail :</strong> jeremie.corbaz@eduvaud.ch</li>
      </ul>
      <p>
        Retrouvez-moi sur :
        <a href="https://www.instagram.com/jeremie.cbz/" target="_blank">Instagram </a> |
        <a href="https://github.com/jeremiecbz" target="_blank">GitHub</a>
      </p>
    </div>
  </footer>

</body>

</html> <!-- EOF -->